@model AFA.Web.Models.UserDetailModel

@{
    ViewBag.Title = "Add User";
}

<h2 class="page-header">@ViewBag.Title</h2>

@using (Html.BeginForm("Add", "Users", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.Partial("AddOrEdit", Model)
}
