@model IEnumerable<AFA.Web.Models.UserModel>

@{
    ViewBag.Title = "Users";
}

<h2 class="page-header">@ViewBag.Title</h2>

<ul>
    @foreach (var user in Model)
    {
        <li class="margin-bottom">
            @Html.ActionLink(user.FullName, "Edit", "Users", new {id = user.Id}, null)
            @using (Html.BeginForm("Delete", "Users", new { id = user.Id }, FormMethod.Post, new { @class = "inline" }))
            {
                <input type="submit" value="Delete" class="margin-left btn btn-danger" />
            }
            
        </li>
    }
</ul>

<div>@Html.ActionLink("Add New", "Add", "Users", null, new {@class="btn btn-primary"})</div>
