@model AFA.ServiceHostAndWeb.Models.CrueltySpotDetailModel

@{
    ViewBag.Title = "Cruelty Spot Details";
}

@Html.DisplayForModel()

<div class="margin-bottom">
    @Html.ActionLink("All Cruelty Spots", "Index", "CrueltySpots", null, new { @class = "btn btn-info"})
</div>
