<!doctype html>
<html lang="en-us">
<head>
    <title>America For Animals</title>
    @Html.RenderCssBundle("~/Content/app.css.bundle", BundleOptions.MinifiedAndCombined)
</head>
<body>
    @RenderBody()     
</body>
</html>
