@{
    ViewBag.Title = "Report Cruelty";
}

<h2 class="page-header">@ViewBag.Title</h2>

<h3>Location</h3>

<h3>Type of Cruelty</h3>

<script type="text/javascript">
    $('#topMenu .report-cruelty').addClass('active');
</script>