@model AFA.ServiceHostAndWeb.Models.ReportCrueltyModel

@{
    ViewBag.Title = "Report Cruelty";
}

<h2 class="page-header">@ViewBag.Title</h2>

@using (Html.BeginForm("Report", "Cruelty", FormMethod.Post, new { @class = "form-horizontal" }))
{

    <h3>Location (select one)</h3>
    
    <ul  class="click-to-select-container plain" data-bind="foreach: availablePlaces">
        <li>
            <h5 data-bind="text: name"></h5>
            <div data-bind="text: vicinity"></div>
            <div data-bind="text: $root.distanceInMiles(geometry.location)"></div>
        </li>
    </ul>
    <a href="#" class="btn btn-success">more</a>
    
    <h3>Type of Cruelty</h3>
    <div class="control-group">
        @Html.Label("Cruelty Spot Category", new { @class = "control-label" })
        <div class="controls">
            <select data-bind="options: availableCategories, optionsText: 'Value', optionsValue: 'Key', value: crueltySpot().crueltySpotCategoryId"></select>
        </div>
    </div>

    <input type="submit" class="btn btn-primary" />
}

<div id="map"></div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=@ViewBag.GoogleApiKey&sensor=false&libraries=geometry,places">
</script>


<script type="text/javascript">

    var positionError = function () {
        alert("Problem acquiring position");
    };   

    $(function() {
        $('#topMenu .report-cruelty').addClass('active');
        
        var initialData = @Html.Raw(Json.Encode(Model));
        
        function CrueltySpot(name) {
            var self = this;
            self.name = name;
            self.crueltySpotCategoryId = ko.observable(0);
        }
        
        function ReportCrueltyViewModel(availableCategories) {
            var self = this;
            self.crueltySpot = ko.observable(new CrueltySpot());
            self.availableCategories = availableCategories;
            self.availablePlaces = ko.observableArray([]);
            
            self.myLat = ko.observable();
            self.myLon = ko.observable();

            self.myLatLng = ko.computed(function() {
                return new google.maps.LatLng(self.myLat(), self.myLon());
            });
            
            self.distanceInMiles = function(location) {
                var distanceInMeters = google.maps.geometry.spherical.computeDistanceBetween(self.myLatLng(), location);
                var ret = distanceInMeters *= 0.000621371192;
                return ret.toFixed(2) + ' miles';
            };
            
            if (Modernizr.geolocation) {
                navigator.geolocation.getCurrentPosition(getNearbyPlaces, positionError);

            } else {
                // no native support, implement fallback
                // To Do: Ask for zipcode or address, or allow option to not use geolocation
            }
            
            function getNearbyPlaces(position) {
                var coordinates = position.coords;
        
                self.myLat(coordinates.latitude);
                self.myLon(coordinates.longitude);

                var map = new google.maps.Map(document.getElementById('map'), {
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    center: self.myLatLng(),
                    zoom: 15
                });

                var request = {
                    location: self.myLatLng(),
                    //radius: '500',
                    types: ['amusement_park', 'aquarium', 'veterinary_care', 'zoo'],
                    rankBy: google.maps.places.RankBy.DISTANCE
                };

                var service = new google.maps.places.PlacesService(map);
                service.nearbySearch(request, placesSearchCallback);
            };
            
            function placesSearchCallback(results, status) {
                if (status == google.maps.places.PlacesServiceStatus.OK) {
                    self.availablePlaces(results);
                }
            };       
            
        }
        
        ko.applyBindings(new ReportCrueltyViewModel(initialData.AllCrueltySpotCategories));

    });
</script>