@{
    ViewBag.Title = "Home Page";
}

<div>
    <ul>
        <li>@Html.ActionLink("Organization Categories", "Index", "OrganizationCategories")</li>
        <li>@Html.ActionLink("Organizations", "Index", "Organizations")</li>
        <li>@Html.ActionLink("Users", "Index", "Users")</li>
    </ul>
</div>
